modelling_3d/fretHand/mano_v1_2/models/
modelling_3d/fretHand/mano_v1_2/webuser/
modelling_3d/fretHand/MANO/env
modelling_3d/fretHand/MANO/venv
modelling_3d/fretHand/MANO/models_compressed
modelling_3d/fretHand/MANO/mano/__pycache__/
